NoIdeasMain/MainProject/Web References/cloudWebRef/NoIdeasWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profile" type="tns:Profile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Profile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sex" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hair" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Race" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Interest" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Online" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Phone" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Distance" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateProfileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDatingProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dprofile" type="tns:DatingProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatingProfile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Hair" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Max_Weight" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Min_Weight" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Race" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Min_Age" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Max_Age" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sex" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Height_Max" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height_Min" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Interest" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Range" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateDatingProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDatingProfileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profile" type="tns:Profile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNewUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProfileResult" type="tns:Profile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginCheckResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadDatingProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dprofile" type="tns:DatingProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadDatingProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoadDatingProfileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletedatingProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dprofile" type="tns:DatingProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletedatingProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletedatingProfileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindMatches">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindMatchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindMatchesResult" type="tns:ArrayOfMatchedResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMatchedResults">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MatchedResults" nillable="true" type="tns:MatchedResults" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MatchedResults">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Phone" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MatchPercentage" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="EndSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profile" type="tns:Profile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EndSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumberOfActiveUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetNumberOfActiveUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNumberOfActiveUsersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDatingProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDatingProfile" />
  </wsdl:message>
  <wsdl:message name="UpdateDatingProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDatingProfileResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewUser" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="GetUserProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="LoginCheckSoapIn">
    <wsdl:part name="parameters" element="tns:LoginCheck" />
  </wsdl:message>
  <wsdl:message name="LoginCheckSoapOut">
    <wsdl:part name="parameters" element="tns:LoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="LoadDatingProfileSoapIn">
    <wsdl:part name="parameters" element="tns:LoadDatingProfile" />
  </wsdl:message>
  <wsdl:message name="LoadDatingProfileSoapOut">
    <wsdl:part name="parameters" element="tns:LoadDatingProfileResponse" />
  </wsdl:message>
  <wsdl:message name="DeletedatingProfileSoapIn">
    <wsdl:part name="parameters" element="tns:DeletedatingProfile" />
  </wsdl:message>
  <wsdl:message name="DeletedatingProfileSoapOut">
    <wsdl:part name="parameters" element="tns:DeletedatingProfileResponse" />
  </wsdl:message>
  <wsdl:message name="FindMatchesSoapIn">
    <wsdl:part name="parameters" element="tns:FindMatches" />
  </wsdl:message>
  <wsdl:message name="FindMatchesSoapOut">
    <wsdl:part name="parameters" element="tns:FindMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="EndSessionSoapIn">
    <wsdl:part name="parameters" element="tns:EndSession" />
  </wsdl:message>
  <wsdl:message name="EndSessionSoapOut">
    <wsdl:part name="parameters" element="tns:EndSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfActiveUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumberOfActiveUsers" />
  </wsdl:message>
  <wsdl:message name="GetNumberOfActiveUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumberOfActiveUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="NoIdeasWebServiceSoap">
    <wsdl:operation name="UpdateProfile">
      <wsdl:input message="tns:UpdateProfileSoapIn" />
      <wsdl:output message="tns:UpdateProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDatingProfile">
      <wsdl:input message="tns:UpdateDatingProfileSoapIn" />
      <wsdl:output message="tns:UpdateDatingProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <wsdl:input message="tns:InsertNewUserSoapIn" />
      <wsdl:output message="tns:InsertNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <wsdl:input message="tns:GetUserProfileSoapIn" />
      <wsdl:output message="tns:GetUserProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginCheck">
      <wsdl:input message="tns:LoginCheckSoapIn" />
      <wsdl:output message="tns:LoginCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadDatingProfile">
      <wsdl:input message="tns:LoadDatingProfileSoapIn" />
      <wsdl:output message="tns:LoadDatingProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletedatingProfile">
      <wsdl:input message="tns:DeletedatingProfileSoapIn" />
      <wsdl:output message="tns:DeletedatingProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindMatches">
      <wsdl:input message="tns:FindMatchesSoapIn" />
      <wsdl:output message="tns:FindMatchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <wsdl:input message="tns:EndSessionSoapIn" />
      <wsdl:output message="tns:EndSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfActiveUsers">
      <wsdl:input message="tns:GetNumberOfActiveUsersSoapIn" />
      <wsdl:output message="tns:GetNumberOfActiveUsersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NoIdeasWebServiceSoap" type="tns:NoIdeasWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDatingProfile">
      <soap:operation soapAction="http://tempuri.org/UpdateDatingProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap:operation soapAction="http://tempuri.org/InsertNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="http://tempuri.org/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCheck">
      <soap:operation soapAction="http://tempuri.org/LoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDatingProfile">
      <soap:operation soapAction="http://tempuri.org/LoadDatingProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletedatingProfile">
      <soap:operation soapAction="http://tempuri.org/DeletedatingProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindMatches">
      <soap:operation soapAction="http://tempuri.org/FindMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <soap:operation soapAction="http://tempuri.org/EndSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfActiveUsers">
      <soap:operation soapAction="http://tempuri.org/GetNumberOfActiveUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NoIdeasWebServiceSoap12" type="tns:NoIdeasWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateProfile">
      <soap12:operation soapAction="http://tempuri.org/UpdateProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDatingProfile">
      <soap12:operation soapAction="http://tempuri.org/UpdateDatingProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap12:operation soapAction="http://tempuri.org/InsertNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap12:operation soapAction="http://tempuri.org/GetUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCheck">
      <soap12:operation soapAction="http://tempuri.org/LoginCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDatingProfile">
      <soap12:operation soapAction="http://tempuri.org/LoadDatingProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletedatingProfile">
      <soap12:operation soapAction="http://tempuri.org/DeletedatingProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindMatches">
      <soap12:operation soapAction="http://tempuri.org/FindMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <soap12:operation soapAction="http://tempuri.org/EndSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfActiveUsers">
      <soap12:operation soapAction="http://tempuri.org/GetNumberOfActiveUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NoIdeasWebService">
    <wsdl:port name="NoIdeasWebServiceSoap" binding="tns:NoIdeasWebServiceSoap">
      <soap:address location="http://noideaswebservice.cloudapp.net:20000/NoIdeasWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="NoIdeasWebServiceSoap12" binding="tns:NoIdeasWebServiceSoap12">
      <soap12:address location="http://noideaswebservice.cloudapp.net:20000/NoIdeasWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>